/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #F1FAEE;
}

img {
    width: 100px;
}

.hero-section {
    background-image: url("images/Peshawar-University.jpg");
    background-size:cover;
    color:white;
    margin:3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-title {
    font-size: 25px;
    background-color:green;
    padding:3px 6px;
    border-radius: 5px;
    margin-bottom: 0;
}

#hero-title:hover {

    font-size: 30px;
}

#hero-description {
    font-size: 30px;
    background-color: rgb(29, 235, 29);
    padding:3px 5px;
    border-radius: 5px;
    /* width: 100px; */
    margin-bottom: 50px;
}

#hero-description:hover {
    font-size:40px;
}

.activities-section {
    margin-top:30px;
}

#activities {
    margin-top:30px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:10px 50px;
    padding:10px;
}
.activity-container {
    width:300px;
    align-items: center;
    padding:10px;
}

#activities-title {
    display: inline-block;
    color:white;
    border-radius: 5px;
    margin:20px
}

.activites-img {
    border-radius: 50%;
    width:200px;
    height: 200px;    
}

.activites-img:hover {
   width:300px;
   height: 300px;;
}
 
 .activities-description {
     font-size: 10px;
     text-shadow: 0px 0px 3px black;;
 }

.guide-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color:rgb(141, 236, 141);
    width:400px;
    margin:50px auto 10px;
    border-bottom: 5px solid green;
    padding: 0;
    margin-bottom: 50px;
}

#guide-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px;
    margin:0;
    
}

#avatar { 
    border-radius: 5px;
    width:150px;
    height: 180px;
    margin:5px 10px;
}

h3 , h4 {
    margin:0 5px;
    padding:10px 20px;
}

.guide-section:hover {
    width: 500px;
    height: 300px;
}